<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="jumbotron">
      <form name="foodForm" ng-submit="submitFood()">
        <div class="row">
          <div class="form-group col-lg-offset-3 col-lg-6" ng-class="{ 'has-error': foodForm.foodName.$touched && foodForm.foodName.$invalid }">
            <label for="foodName">Food</label>
            <input type="text" name="foodName" class="form-control" id="foodName" placeholder="Food Name" ng-model="food.name" required>
          </div><br/>
        </div>
        <div class="row">
          <div class="form-group col-lg-offset-3 col-lg-6" ng-class="{ 'has-error': foodForm.foodDesc.$touched && foodForm.foodDesc.$invalid }">
            <label for="foodDescription">Description</label>
            <input type="text" name="foodDesc" class="form-control" id="foodDescription" placeholder="Describe the food" ng-model="food.description" required>
          </div><br/>
        </div>
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6" ng-class="{ 'has-error': foodForm.foodCat.$touched &&  foodForm.foodCat.$invalid }">
            <label for="foodCategory">Category</label>
            <select name="foodCat" class="form-control" id="foodCategory" ng-model="food.category" required>
              <option ng-repeat="category in categories" ng-value="category">{{category}}</option>
            </select>
          </div><br/>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>