<div class="row">
  <div class="col-lg-8">
      <form ng-submit="vm.searchBy(searchTerm)">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by keyword" ng-model="searchTerm">
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </div>
      </form>
  </div>
</div>
<div class="row leftPadding">
  <div class="radio">
    <label><input type="radio" name="optradio" ng-model="order" ng-value="oldest" ng-click="sortByDate('oldest')">Sort by Oldest</label>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <label><input type="radio" name="optradio" ng-model="order" ng-value="newest" ng-click="sortByDate('newest')" checked="checked"> Sort by Newest</label>
  </div>
</div>
